@import 'colors', 'box-shadow', 'utils-glass', 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&display=swap');

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: 0;
    font-family: Poppins;
    color: #FFF;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);

    .loader {
        position: relative;
        min-height: 100vh;
        .loader-item {
            position: absolute;
            @include absolute-center();
            p {
                font-size: 2rem;
                font-weight: 700;
                animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
            }

        }
    }

    .app {
        nav {
            padding: 0 1rem;
            position: relative;
            @include flex(space-between);
            .brand {
                @include flex(center);
                p {
                    margin: auto;
                    font-weight: 700;
                    font-size: 24px
                    
                }
            }
            .nav-btn {
                p {
                    @include flex(center);
                    position: relative;
                    padding: 1rem;
                    span {
                        position: absolute;
                        @include absolute-center();
                        font-size: 24px
                    }
                }
            }
            .nav-link {
                position: fixed;
                top: 0;
                right: 0;
                z-index: 1000;
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                background: rgb(238,174,202);
                background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
                min-height: 100vh;
                padding: 1rem;
                .brand-link {
                    @include flex(space-between);
                    p{
                        padding: 0 1rem;
                        margin: auto;
                        font-weight: 700;
                    }
                    p:nth-child(2) {
                        position: relative;
                    }
                }
                .nav-item {
                    margin-top: 1rem;
                    a {
                        display: block;
                        text-align: center;
                        color: #FFF;
                    }
                }
            }
            .nav-link::before {
                width: auto;
                min-height: 100vh;
                background: rgb(238,174,202);
                background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
                filter: blur(7.1px) ;
            }
        }

        .hero {
            padding: 1rem;
            padding-bottom: 2rem;
            .card {
                padding: 1rem;
                h3, p {
                    margin: 0;
                }
                h3 {
                    margin-bottom: 1rem;
                }
                p {
                    span {
                        font-weight: 700;
                    }
                }
                
                a {
                    display: inline-block;
                    margin: 1rem auto;
                    padding: .5rem 1rem;
                    color: #FFF;
                    border-radius: 18px;
                    background-color: rgba(0,0,0, 0.1);
                }

                a:hover {
                    opacity: .7;
                }
                a:active {
                    opacity: 1;
                }
                
            }
        }

        .slider {
            padding: 1rem;
            margin-bottom: 2rem;
            
            .card {
                padding: 1rem;
                position: relative; 
                overflow: hidden; 
                // height: 300px;
                .slider-items {
                    --slide-width: clamp(320px, 75vw, 800px);
                    --slide-height: clamp(240px, 75vh, 600px);
    
                    display: grid;
                    grid-auto-flow: column;
                    scroll-snap-type: x mandatory;
                    max-width: var(--slide-width);
                    border: 5px solid #fff;
                    box-shadow: 0 2px 15px rgba(#000, 0.2), 0 2px 20px rgba(#000, 0.25);
                    overflow-y: hidden;
                    overflow-x: auto;
                    scroll-behavior: smooth;
                    -ms-overflow-style: none;
                    scrollbar-width: none;
    
                    &::-webkit-scrollbar {
                        display: none;
                    }
    
                    .slide {
                        scroll-snap-align: start;
                        width: var(--slide-width);
                        height: var(--slide-height);
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .dots {
                        position: absolute;
                        bottom: 40px;
                        left: 50%;
                        transform: translateX(-50%);
                        gap: 15px;
                        z-index: 1;
                    
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    
                        a {
                            $dots-size: 8px;
                    
                            width: $dots-size;
                            height: $dots-size;
                            border-radius: 50%;
                            background-color: #fff;
                            opacity: 0.75;
                            transition: opacity ease 250ms;
                            cursor: pointer;
                    
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .slider::after {
            position: absolute; 
            z-index: 12; 
            color: rgba(255,255,255, 0); 
            left: 300px; top: 80px; 
            -webkit-transition: 1s all ease-in-out; 
            -moz-transition: 1s all ease-in-out; 
            transition: 1s all ease-in-out; 
        }

        .project {
            padding: 1rem;
            .card {
                overflow: hidden ;
                margin-bottom: 2rem;
                .card-image {
                    height: 200px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    span {
                        @include flex();
                        
                        width: 100%;
                        height: 100%;
                        p {
                            color: #FFF;
                            margin: auto;
                            opacity: 0;
                        }
                    }
                    
                }

                .card-image:hover p{
                    opacity: 1;
                }
                .card-image:hover span{
                    background-color: rgba(0,0,0, 0.75);
                }
                .card-body {
                    padding: 1rem;
                    h3 {
                        overflow:hidden;
                        text-align: left;
                        width:280px;
                        white-space:nowrap;
                        display:inline-block;
                        margin: 0;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        .client {
            padding: 1rem;
            .card {
                padding: 1rem;
                @include flex(center);
                img {
                    width: 60px;
                    filter: grayscale(1);
                    margin: 0 .5rem;
                }
                img:hover {
                    filter: grayscale(0);

                }
            }
        }

        footer {
            padding: 3 1rem;
            .social {
                a {
                    padding: 0 .5rem;
                    font-size: 1.5rem;
                }
            }
            p {
                text-align: center;
                a {
                    color: #FFF;
                }
            }
        }
        
    }
}

.title-section {
    text-align: center;
    font-size: 2rem;
}

// html::after {
//     position: absolute;
//     content: '';
//     top: -3.5rem;
//     left: -3.5rem;
//     width: 200px;
//     height: 200px;
//     background-color: salmon;
//     border-radius: 50%;
//     z-index: -9;
    
// }

html::before {
    position: fixed;
    content: '';
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    filter: blur(7.1px) ;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
}


@media (min-width: 599px) {
    .app {
        .project {
            padding: 1rem;
            h2 {
                display: inline-block;
                text-align: center;
            }
            @include flex(space-evenly);
            flex-wrap: wrap;
            .card {
                width: 40%;
                padding: 1rem;
                overflow: hidden ;
                .card-image {
                    height: 200px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    span {
                        @include flex();
                        
                        width: 100%;
                        height: 100%;
                        p {
                            color: #FFF;
                            margin: auto;
                            opacity: 0;
                        }
                    }
                    
                }

                .card-image:hover p{
                    opacity: 1;
                }
                .card-image:hover span{
                    background-color: rgba(0,0,0, 0.75);
                }
                .card-body {
                    padding: 1rem;
                    h3 {
                        overflow:hidden;
                        text-align: left;
                        width:280px;
                        white-space:nowrap;
                        display:inline-block;
                        margin: 0;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

    }
    


}

@media (min-width: 900px) {
    .app {
        .project {
            padding: 1rem;
            h2 {
                display: inline-block;
                text-align: center;
            }
            @include flex(space-evenly);
            flex-wrap: wrap;
            .card {
                width: 25%;
                padding: 1rem;
                overflow: hidden ;
                .card-image {
                    height: 200px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    span {
                        @include flex();
                        
                        width: 100%;
                        height: 100%;
                        p {
                            color: #FFF;
                            margin: auto;
                            opacity: 0;
                        }
                    }
                    
                }

                .card-image:hover p{
                    opacity: 1;
                }
                .card-image:hover span{
                    background-color: rgba(0,0,0, 0.75);
                }
                .card-body {
                    padding: 1rem;
                    h3 {
                        overflow:hidden;
                        text-align: left;
                        width:280px;
                        white-space:nowrap;
                        display:inline-block;
                        margin: 0;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        .client {
            .card {
                img {
                    width: 60px;
                }
            }
        }

    }

}
