:root {
  /* shadow */
  --box-shadow: -6px -6px 8px rgba(255, 255, 255, 0.9), 5px 5px 8px rgba(0, 0, 0, 0.07);
  --box-shadow-outside: -6px -6px 14px rgba(255, 255, 255, .7),
                          -6px -6px 10px rgba(255, 255, 255, .5),
                          6px 6px 8px rgba(255, 255, 255, .075),
                          6px 6px 10px rgba(0, 0, 0, .15);
  --box-shadow-outside-hover: -2px -2px 6px rgba(255, 255, 255, .6),
                          -2px -2px 4px rgba(255, 255, 255, .4),
                          2px 2px 2px rgba(255, 255, 255, .05),
                          2px 2px 4px rgba(0, 0, 0, .1);
  --box-shadow-inside: inset -2px -2px 6px rgba(255, 255, 255, .7),
                          inset -2px -2px 4px rgba(255, 255, 255, .5),
                          inset 2px 2px 2px rgba(255, 255, 255, .075),
                          inset 2px 2px 4px rgba(0, 0, 0, .15);
}

a {
  text-decoration: none;
  box-shadow: var(--box-shadow-outside);
}

a:hover {
  box-shadow: var(--box-shadow-outside-hover);
}

a:active {
  box-shadow: var(--box-shadow-inside);
}

form {
  box-shadow: var(--box-shadow-inside);
  background-color: #f6f6f6;
  margin: 1rem;
  padding: 1rem;
  border-radius: 18px;
}

input:focus {
  outline: 1px solid #999;
}

input[type=text],
input[type=email],
input[type=password],
input[type=search] {
  border: 0;
  width: 100%;
  min-height: 1.5rem;
  border-radius: 18px;
  font-size: 1rem;
  padding: 10px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: block;
  box-shadow: var(--box-shadow-inside);
}

label {
  margin-bottom: 0.5rem;
  text-align: left;
  display: block;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  width: 60%;
  display: inline !important;
  background-color: #f6f6f6;
  box-shadow: var(--box-shadow-outside);
  min-height: 100vh;
  z-index: 9999;
  animation: openFromRight 0.5s ease 0s 1 normal forwards;
}
.menu a {
  display: block;
  margin: 0 auto;
  margin-top: 1.5rem;
  text-align: center;
  padding: 0.5rem;
  color: #444;
}
.menu p {
  margin: 0;
  display: inline !important;
  text-align: right !important;
  padding: 0.5rem 0.75rem;
  box-shadow: var(--box-shadow-outside);
  border-radius: 50%;
  margin-bottom: 2rem !important;
  cursor: pointer;
  display: flex;
  justify-content: right;
  flex-direction: row;
}
.menu p:hover {
  box-shadow: var(--box-shadow-outside-hover);
}
.menu p:active {
  box-shadow: var(--box-shadow-inside);
}

.menu-close {
  animation: closeToRight 1s ease 0s 1 normal forwards;
}

@keyframes openFromRight {
  0% {
    transform: scaleX(0.4);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
  }
}
@keyframes closeToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background-color: #f6f6f6;
  color: #444;
}
body nav {
  color: #444;
  padding: 1rem 3rem;
  box-shadow: var(--box-shadow-outside-hover);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
body nav .brand {
  margin: auto 0;
}
body nav .brand p {
  padding: 0.5rem 1rem;
  box-shadow: var(--box-shadow-outside);
  border-radius: 12px;
  font-weight: 700;
}
body nav .nav-btn {
  display: none;
}
body nav .nav-link,
body nav .nav-link-end {
  margin: auto 0;
}
body nav .nav-link p,
body nav .nav-link-end p {
  display: none;
}
body nav .nav-link a,
body nav .nav-link-end a {
  color: #444;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 12px;
}
body nav .nav-link-end {
  margin-left: 4rem;
}
body .hero {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
body .hero div {
  width: 50%;
  text-align: center;
}
body .hero .hero-start {
  padding: 3rem;
  margin: auto 0;
}
body .hero .hero-start form {
  display: block;
}
body .hero .hero-start form .input-groub {
  padding: 1rem;
}
body .hero .hero-end {
  padding: 3rem;
}

@media (max-width: 599px) {
  nav {
    position: relative;
  }
  .nav-link {
    display: none;
  }
  .nav-link-end {
    margin-top: 2rem !important;
    width: 100%;
    padding-left: -3rem !important;
  }
  .nav-btn {
    display: inline !important;
    margin: auto 0;
  }
  .nav-btn a {
    padding: 0.75rem;
    border-radius: 50%;
  }
}/*# sourceMappingURL=style.css.map */